---
hosts:
  sp1:
    eth0:
      dns_nameservers:
      - 203.0.113.43
      - 203.0.113.44
      gateway: 203.0.113.1
      hwaddr: de:ad:be:ef:23:42
      ip: 203.0.113.42
      netmask: 255.255.255.0
    eth1:
      hwaddr: de:ad:be:ef:42:23
      ip: 192.168.255.251
      netmask: 255.255.255.248
      type:
      - ha_int
    interfaces:
    - lo
    - eth0
    - eth1
    lo:
      hwaddr: 00:00:00:00:00:00
      ip: 127.0.0.1
      netmask: 255.0.0.0
      shared_ip: ~
      shared_v6ip: ~
      type:
      - sip_int
      - web_ext
      - sip_ext
      - rtp_ext
      - ssh_ext
      - mon_ext
      - web_int
      v6ip: ::1
    peer: sp2
    role:
    - proxy
    - lb
    - mgmt
  sp2:
    eth1:
      ip: 192.168.255.252
      netmask: 255.255.255.248
      type:
      - ha_int
    interfaces:
    - lo
    - eth1
    lo:
      hwaddr: 00:00:00:00:00:00
      ip: 127.0.0.1
      netmask: 255.0.0.0
      shared_ip: ~
      shared_v6ip: ~
      type:
      - sip_int
      - web_ext
      - sip_ext
      - rtp_ext
      - ssh_ext
      - mon_ext
      - web_int
      v6ip: ::1
    peer: sp1
    role:
    - proxy
    - lb
    - mgmt
