#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	dh_testdir
	$(MAKE) man
	# catch any syntax errors *before* building the .deb
	$(MAKE) syntaxcheck

override_dh_install:
	dh_install
	test -r $(CURDIR)/usr/sbin/ngcp-network && \
		sed -i -e "s/VERSION = 'UNRELEASED'/VERSION = '$(VERSION)'/" \
		$(CURDIR)/usr/sbin/ngcp-network || true
